<%- include('includes/head.ejs') %>
    <%- include('includes/nav.ejs') %>
        <div class="container">
            <div class="row">
                <div class="col-lg-2"></div>

                <div class="col-lg-8 my-3">
                    <h1 class="text-center">Contato</h1>
                    <p class="text-center laad">Crie ou edite seu contato abaixo</p>   
                    <%- include('includes/messages.ejs')%>                 

                    <!--Se não tem o id, dá o post (cadastra), senão envia para a página de edição -->
                    <% if (!centroCusto.CODIGO) { %>
                        <form class="form-cadastro-contatos" action="/centroCusto" method="POST">
                    <% } else { %>
                        <form class="form-cadastro-contatos" action="/centroCusto/edit/<%= centroCusto.CODIGO %>" method="POST">
                    <% } %>        
                        
                        <input type="hidden" name="empresaId" value="<%= centroCusto.EMPRESA_ID %>">                        
                        <div class="form-group">
                            <label>Código</label>
                            <!--este contato.nome é um objeto passado no render desta página -->
                            <input value="<%= centroCusto.CODIGO_EXTERNO %>" type="text" class="form-control" name="codigo_externo">
                        </div>

                        <div class="form-group">
                            <label>Descrição</label>
                            <input value="<%= centroCusto.DESCRICAO %>" type="text" class="form-control" name="descricao">
                        </div>
                        

                        <% if (!centroCusto.CODIGO) { %>
                            <button type="submit" class="btn btn-primary my-3">Incluir</button>
                        <% } else { %>
                            <button type="submit" class="btn btn-primary my-3">Alterar</button>  
                            <a class="btn btn-primary my-3" href="/centrocusto">Cadastrar novo Contato</a>
                            <a class="btn btn-primary my-3" href="/">Lista de Centros de Custo</a>
                        <% } %>        
                        
                    </form>
                </div>
            </div>

            <div class="col-lg-2"></div>
        </div>
        </div>
        <%- include('includes/footer.ejs') %>