<%- include('includes/head.ejs') %>
<%- include('includes/nav.ejs') %>
<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8 my-3">
      <h1 class="text-center">Cadastro</h1>   
      <%- include('includes/messages.ejs') %>   
      
      <% if (listaCentroCusto.length == 0) { %>
          <h4 class="text-center my-3">Nenhum Centro de Custo Cadastrado</h4>
          <a class="btn btn-primary my-3" href="/centrocusto/tela_cadastro/0">Cadastrar novo Centro de Custo</a>  
      <% } else { %>        
      <p class="text-center laad">Centros de Custo</p>
      <div class="responsive-table">
        <table class="table my-3">
          <% listaCentroCusto.forEach(cCusto => { %>
          <tr>
            <td><%= cCusto.CODIGO_EXTERNO %></td>
            <td><%= cCusto.DESCRICAO %></td>            
            <td><a href="/centrocusto/tela_cadastro/<%= cCusto.CODIGO %>">Editar</a></td>
            <td><a class="text-danger" href="centrocusto/delete/<%= cCusto.CODIGO %>/<%= cCusto.DESCRICAO %>">Excluir</a></td>
          </tr>
          <% }) %>
        </table>
      </div>
      <% } %>
    </div>

    <div class="col-lg-2"></div>
  </div>
</div>    
<%- include('includes/footer.ejs') %>